<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<section class="certificate-section">
		<div class="container">
			<div class="certificate">
				<h2>Providing <br>Course <br>Completion <br>Crtificate</h2>
			</div>
			<div class="certificate">
				<img src="images/emon.jpg" alt="emon.jpg">
			</div>
		</div>
	</section>
	<section class="our-section">
		<h1>Our Branches</h1>
		<div class="container">
			<div class="box-1-3">
				<h2>Banani Branche</h2>
				<p>House# 74 Road# 7, Block# H, Banani, Dhaka-1213</p>
				<i>Phone: 01872650685, 01872650686, 01872650687, 01758066329, 01758066325</i>

			</div>
			<div class="box-1-3">
				<h2>Mirpur Branche</h2>
				<p>House# 74 Road# 7, Block# H, Banani, Dhaka-1213</p>
				<i>Phone: 01872650685, 01872650686, 01872650687, 01758066329, 01758066325</i>

			</div>
			<div class="box-1-3">
				<h2>Dhanmondi Branche</h2>
				<p>House# 74 Road# 7, Block# H, Banani, Dhaka-1213</p>
				<i>Phone: 01872650685, 01872650686, 01872650687, 01758066329, 01758066325</i>

			</div>

		</div>
		
	</section>
	<section class="vedio-section">
		<div class="container">
			<div class="box-1-4">
				<iframe width="400" height="200" src="https://www.youtube.com/embed/q0hyYWKXF0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			</div>
			<div class="box-1-4">
				<iframe width="400" height="200" src="https://www.youtube.com/embed/q0hyYWKXF0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			</div>
			<div class="box-1-4">
				<iframe width="400" height="200" src="https://www.youtube.com/embed/q0hyYWKXF0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			</div>
			
		</div>
		

	</section>

</body>
</html>